DROP TABLE IF EXISTS dbo.[master_order_list]

SELECT ord.[id]
	  ,cml.[customer_id] as [customer_id]
	  ,CAST(ord.[created_at] AS DATETIME) AS [created_at]
      ,CAST(ord.[updated_at] AS DATETIME) AS [updated_at]
	  ,cml.[first name]
	  ,cml.[last name]
      ,ord.[reference_number]
      ,ord.[status]
      ,ord.[subscription_id]
      ,ord.[state]
      ,CAST(ord.[grand_total] AS MONEY) AS [grand_total]
      ,CAST(ord.[subtotal] AS MONEY) AS [subtotal]
      ,ord.[tax_amount] 
      ,ord.[total_due] 
      ,ord.[total_invoiced] 
      ,ord.[total_item_count] 
      ,CAST(ord.[total_paid] AS MONEY) AS [total_paid]
      ,CAST(ord.[total_qty_ordered]  AS INT) AS [total_qty_ordered]
      ,CAST(ord.[total_refunded]  AS MONEY) AS [total_refunded]
      ,CAST(ord.[discount_amount] AS MONEY) AS [discount_amount]
      ,ord.[order_currency_code]
      ,CAST(ord.[giftcert_amount] AS MONEY) AS [giftcert_amount]
      ,ord.[coupon_code]
      ,ord.[coupon_rule_name]
      ,ord.[customer_group_id]
      ,ord.[customer_is_guest]
      ,CAST(ord.[shipping_amount] AS MONEY) AS [shipping_amount]
      ,ord.[shipping_description]
      ,CAST(ord.[shipping_discount_amount] AS MONEY) AS [shipping_discount_amount]
      ,CAST(ord.[shipping_hidden_tax_amount] AS MONEY) AS [shipping_hidden_tax_amount]
      ,CAST(ord.[shipping_incl_tax] AS MONEY) AS [shipping_incl_tax]
      ,CAST(ord.[shipping_invoiced] AS MONEY) AS [shipping_invoiced]
      ,ord.[shipping_method]
      ,CAST(ord.[shipping_refunded] AS BIT) AS [shipping_refunded]
      ,ord.[how_did_you_hear]
      ,ord.[how_did_you_hear_other]
      ,ord.[order_has_subscription]
      ,ord.[order_has_ecommerce]
INTO [master].[dbo].[master_order_list] 
FROM [master].[dbo].[orders_raw] as ord
JOIN [dbo].[master_customer_list] as cml ON cml.[email address] = ord.[customer_email]


SELECT * FROM [master].[dbo].[master_order_list] ORDER BY [customer_id] DESC